.completed {
  text-decoration: line-through;
  color: #ccc;
  cursor: not-allowed;

  & .actions {
	display: none;
  }
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
	flex-direction: column;
	width: 100%;

	& ul {
		list-style: none;
		padding: 0;
		width: 50%;

		& li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 10px;

			& button {
				padding: 5px;
				border: 1px solid #ccc;
				border-radius: 5px;
				background-color: #f0f0f0;
				cursor: pointer;
			}
		}
	}
}

.add-todo {
	display: flex;
	justify-content: space-between;
	gap: 10px;

	& input {
		width: 70%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	& button {
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #f0f0f0;
		cursor: pointer;
	}
}

.actions {
	display: flex;
	gap: 10px;
}
